* {
    margin: 0;
    padding: 0;
}
.nav-jualy {
    margin-top: 0;
    min-height: 100%;
}

.body-jualy .row .col-2 {
    margin: 0;
}

.navbar-jualy {
    border-bottom: 2px solid #eee;
}

#side-nav{
    height: 600px;
}

.teks_ganti_user {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.teks_ganti_user:hover {
    color: black
}

.form-group a {
    text-decoration: none;
}

.list-group-item {
    border: none;
    padding: 10px 30px;
    border-radius: 0;
}

.list-group {
    border-radius: 0;    
}

#cetak_laporan{
    margin-left: 130px;    
}

#gambar-barang{
    margin: 0 auto;
}

#icon-menu {
    margin-right: 5px;
}

.ringkasan{
    margin: 10px 5px;
    /* background: red; */
}

.box-ringkasan {
    margin: 5px;
    height: 150px;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}

.title-box-ringkasan #title-kiri {
    display: inline-flex;
    font-size: 20px;
    color: #333;
}

.title-box-ringkasan #title-kanan {
    margin-left: 120px;
    font-size: 12px;
    color: #666;
}

#dash-container {
    /* background: #f4f4f4; */
}

.body-box-ringkasan {
    margin-top: 5px;
    margin-left: 20px;
}


.data-ringkasan {
    font-size: 50px;
    font-weight: 600;
    color: #3367D6;
    margin: 0;
    padding: 0;
}

.data-ringkasan-rupiah {
    font-size: 30px;
    font-weight: 600;
    color: #3367D6;
    margin-top: 20px;
    padding: 0;
}

.data-ringkasan .data-kemarin{
    font-size: 20px;
    color: #4285F4;    
    margin:0;
    padding: 0;
}

.data-ringkasan .text-data-kemarin {
    font-size: 10px;
    color: #666;
    margin: 0;
    padding: 0;
}

.data-ringkasan-rupiah .data-kemarin{
    font-size: 15px;
    color: #4285F4;    
    margin:0;
    padding: 0;
}

.data-ringkasan-rupiah .text-data-kemarin {
    font-size: 9px;
    color: #666;
    margin: 0;
    padding: 0;
}

.deskripsi-ringkasan {
    margin-top: 5px;
    color: #666;
}

.deskripsi-ringkasan-rupiah {
    margin-top: 20px;
    color: #666;
}